<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <form action="/login" method="post">
            <br/>
            <h3>Login</h3>
            {% with messages = get_flashed_messages(category_filter=['login']) %}
                {% if messages %}
                <div>
                    <strong>Error!</strong>
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            
            <div>
                <label for="email">Email:</label>
                <input type="text" name="email" placeholder="name@example.com">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Password">
            </div><br/>
            
            <input type="submit" value="Login">
            </form><br/>
            <a href="/register">
            <input type="button" value="Register"></a>
        </div>
    </div>
</body>
</html>