{% extends "layout.html" %}
{% block content %}
<div class="row mt-5">
    <div class="col-4">
         <form action="/create/trail" method="post">
            <label>Image URL:
                <input type="file" name="img">
            </label>
            <label>Trail Name:
                <input type="text" name="name">
            </label>
            <label>Location:
                <input type="text" name="location">
            </label>
            <label>Difficulty:
                <select name="difficulty">
                    <option value="Easy">Easy</option>
                    <option value="Moderate">Moderate</option>
                    <option value="Hard">Hard</option>
                </select>
            </label>
            <label>Rating:
                <input type="number" name="rating" min="1" max="10">
            </label>
            <label>Date Completed:
                <input type="date" name="dateCompleted">
            </label>
            <label>Elevation Gain:
                <input type="number" name="elevationGain">
            </label>
            <label>Length:
                <input type="number" name="length">
            </label>
            <label>Route Type:
                <select name="routeType">
                    <option value="pointToPoint">Point-to-point</option>
                    <option value="outAndBack">Out-and-back</option>
                    <option value="loop">Loop</option>
                </select>
            </label>
            <label>Comments:
                <textarea name="comments" cols="30" rows="10"></textarea>
            </label>
            <input type="submit" value="Add Hike">
        </form>
    </div>
</div>
       
{% endblock content %}
